:root {
    --background-color: #f0f0f0;
    --text-color: #333;
    --secondary-color: #eee;
    --input-background: #fff;
    --btn-color: #007BFF;
}

body.dark-theme {
    --background-color: #333;
    --text-color: #eee;
    --secondary-color: #555;
    --input-background: #666;
    --btn-color: #0056b3;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    transition: background-color 0.3s ease;
}

header {
    background-color: var(--secondary-color);
    color: var(--text-color);
    padding: 20px;
    text-align: center;
    transition: background-color 0.3s ease;
}

header h1 {
    margin: 0;
    font-size: 2rem;
}

input {
    display: block;
    width: 100%;
    max-width: 500px;
    margin: 20px auto;
    padding: 10px;
    box-sizing: border-box;
    transition: background-color 0.3s ease;
    background-color: var(--input-background);
}

#results div, #favourites div {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0;
    background-color: var(--input-background);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

#results div h2, #favourites div h2 {
    margin: 0;
}

#results div img, #details img {
    width: 100px;
    float: left;
    margin-right: 10px;
}

#favourites {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#favourites div {
    width: calc(25% - 20px);
    margin: 10px;
    text-align: center;
}

#favourites div img {
    width: 100px;
    height: 100px;
}

button {
    display: block;
    margin-top: 10px;
    background-color: var(--btn-color);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: var(--secondary-color);
    color: var(--text-color);
    transition: background-color 0.3s ease;
}

/* Clearfix */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
#favouriites div img {
    width: 150px;
    float: left;
    margin-right: 10px;
}

#results div img {
    width: 70px;
    height: 120px;
}

